:root{
    --radius: 100px;
}

[data-theme="low"]:root{
    --button-background: white; 
    --border-value: 1px solid black;
    --font-color: black;
    --font-family: Arial;
}

[data-theme="med"]:root{
    --button-background: rgb(112, 184, 238);
    --border-value: 1px solid transparent;
    --font-color: rgb(251, 251, 251);
     --font-family: Arial;
}


[data-theme="high"]:root{
    --button-background: rgb(52, 134, 196);
    --border-value: 1px solid transparent;
    --box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    --font-color: rgb(255, 253, 253);
    --font-family: "Edu VIC WA NT Hand", cursive;
}

button{
    background: var(--button-background);
    border-radius: var(--radius);
    border: var(--border-value);
    box-shadow: var(--box-shadow);
    color: var(--font-color);
    font-family: var(--font-family);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

#test{

    background: var(--button-background);
    border-radius: var(--radius);
    border: var(--border-value);
    box-shadow: var(--box-shadow);
    color: var(--font-color);
    font-family: var(--font-family);
    transition: all 0.3s ease;
}